.exercise-card {
  height: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height:70px;
  max-width: 320px;
  min-width: 320px;
  margin: 5% 5% 5% 5%;
}

.responsive-grid {

  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  align-items: center;
  justify-content: center;
  
  /*
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;*/
}