.card-body {
  padding: 10px 10px 10px 10px;
  display: block;
  margin: 0 auto;

}

.prova {

  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 50px;
  padding: 0px 0px 0px 0px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #A9CCE3;
  background-color: #AED6F1;
  border-radius: 5px 5px 0px 0px;
}



.card-workout {
  box-shadow: 5px 5px 5px 2px #dedede;
  border-bottom: 1px solid;
  border-bottom-color: #D6DBDF;
  border-radius: 5px 5px 5px 5px;
  max-width: 320px;
  margin: 5% 2% 2% 2%;
  background-color: #F8F9F9;
}

.responsive-grid-workout {

  flex-wrap: wrap;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  align-items: center;
  justify-content: center;
}


.button-inserisci-workout:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #547990;
  color: white;
  min-width: 20%;

}

.button-inserisci-workout {
  margin: 2% 2% 2% 2%;
  min-width: 20%;

 
}

.aggiungi-workout-button {
  margin-top: 3%;

}


.add-workout button {
  display: inline;
  float: none;
  box-shadow: 5px 5px 5px 2px #dedede;
}

.add-workout {
  display: flex;
  justify-content: center;
  /* Centra orizzontalmente */
  align-items: center;
  width: 100%;
  margin: auto;

}

.add-workout-form {
  display: flex;
  justify-content: center;
  /* Centra orizzontalmente */
  align-items: center;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 2%;
  min-width: 60%;
  padding: 10px;
  width: 70%;
  background-color: #D6EAF8;
}

.add-button-exercise {
  min-width: 20%;
  background-color: #1A5276;
  color: white;
  margin-bottom: 1%;
}

.workout-card {
  height: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 70px;
  max-width: 320px;
  min-width: 320px;
  margin: 2% 1% 2% 1%;
}


.responsive-grid {

padding-top: 2px;
padding-bottom:2px;
  flex-wrap: wrap;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  align-items: center;
  justify-content: center;

}

mat-grid-tile {
  background: lightblue;
}

.form-control-text {
  width: 80%;
  text-align: center;
  margin-top: 2%;
  float: center;
  padding: 12px 20px;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.formAddExercise-text {

  min-width: 40%;
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
  padding: 12px 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.button-card-body {
  margin: 5px 5px 5px 5px;
}

.formAddExercise{
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;



}


body {

  background-color: #E4E7EA;
}
