<mat-sidenav-container>
  <mat-sidenav color="accent" [(opened)]="opened" #sidenav mode="side">
    <img style="max-height:90% ;max-width: 90%;margin-left: 3%;margin-top: 4%;"
      src="./assets/Immagini/logo_dashboard3.png" />
    <mat-list>
      <mat-list-item style="margin-bottom: 6%; margin-top: 10%;"><a routerLink="home"
          style="text-decoration: none;color:#d6d9de; vertical-align: middle;"><mat-icon
            style="color:#d6d9de;margin-bottom: 2%;">home</mat-icon> Home</a></mat-list-item>
      <mat-list-item style="margin-bottom: 6%;"> <a routerLink="exercise" style="text-decoration: none;color:#d6d9de">
          <mat-icon style="color:#d6d9de;margin-bottom: 2%;">list</mat-icon> Esercizi</a></mat-list-item>
      <mat-list-item style="margin-bottom: 6%;"> <a routerLink="storico" style="text-decoration: none;color:#d6d9de">
          <mat-icon style="color:#d6d9de;margin-bottom: 2%;">assessment</mat-icon> Storico</a></mat-list-item>
      <mat-list-item style="margin-bottom: 6%;color:#d6d9de"> <a (click)="logOut()"
          style="text-decoration: none;color:#d6d9de">
          <mat-icon style="color:#d6d9de;margin-bottom: 2%;">account_circle</mat-icon> Log out</a></mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="warning">
      <mat-toolbar-row>
        <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
      </mat-toolbar-row>
    </mat-toolbar>
    <span class="componenti">
      <router-outlet>
      </router-outlet>
    </span>
  </mat-sidenav-content>
</mat-sidenav-container>