.mat-paginator-page-size {
 /* display: none !important;*/
}
.class-exercise-card{
  width:100%;
  height:100%;
  text-align:center;
 
}
.col-storico-esercizi{
  
  text-align:center;
}
.intern-storico-esercizi{
  width:100%;
  height:100%;
  
}
.col-paginator{
  padding-top: 0%;
  bottom:0px;
  right:0%

}
.mat-paginator-navigation .mat-paginator-previous {
  color: blue;
}
.paginator{ 
  font-weight: bold;
   position: absolute;
  top:0px;
  width: 100%;
  left: 0;
  margin-bottom: 20%;
}
.exercise-card {
  margin-top: 5% ;
  width: 90%;
  height: 70%;
 justify-content: center; /* Centra orizzontalmente */
  align-items: center;
  text-align:center;
  background-color: #EAEDED; 

}
.example-viewport {
  margin-top: 20%;
  height: 90%;
  width: 90%;
 
}

.example-item {
  height: 50px;
}
.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}

.button-fine-allenamento {
  float: right;
  margin-top: 5px;
  width: 30%;

}
.div-button-fine-allenamento {
  width: 100%;
  height: 5%;

}

.form-exercise-details{

  vertical-align: middle;
  display: inline;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

