<div class="div-button-fine-allenamento"><button mat-button color="warn" class="button-fine-allenamento"
    (click)="addWorkoutSession()">FINE ALLENAMENTO</button></div><br>
<mat-grid-list [cols]="breakpoint" rowHeight="fit" class="griglia-display" (window:resize)="onResize($event)">
  <!-- Serie richieste / Timer / Serie svolte -->
  <mat-grid-tile [colspan]="arrayColSpan[0]" rowspan='1'
    style="background-color: #D6EAF8;min-height:200px ;margin-bottom: 5%;"><app-timer [serieSvolte]="serieSvolte"
      [serieRichieste]="serieRichieste" [diameterSpinner]="diameterSpinner"> </app-timer>
    <br></mat-grid-tile>
<!-- Display esercizio corrente e inserimento kg/ripetizioni -->
  <mat-grid-tile [colspan]="arrayColSpan[1]" rowspan='2' style="top: 365px;">
    <!-- Cambio esercizio  -->
    <mat-paginator class="paginator" #paginator [pageSize]="pageSize" hidePageSize="true"
      (page)="handlePageEvent($event)">
    </mat-paginator>
    <mat-card *ngFor="let card of obs | async, index as i" class="exercise-card">
      <mat-card-header style="background-color:  #b3e5fc;">
        <mat-card-title>
          <h4>{{ card.exercise.nome.toUpperCase() }}</h4>
        </mat-card-title>
        <mat-card-subtitle>{{ prova.ripetizioniBase }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ prova.note }}
        </p>
      </mat-card-content>
      <mat-card-actions style="width: 100%; height: 100%;">
        <img [src]=" card.exercise.immagine" class="example-header-image">
         <!-- Form kg/ripetizioni -->
        <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()" class="form-exercise-details" class="form-ripetizioni">
          <mat-list style="height: 70%; width: 100%;"> <mat-list-item style="height: 70%; width: 100%;">
              <h4 style="margin-top: 2%; margin-bottom: 2%;" *ngIf="!exerciseForm.valid"> INSERIRE KG E RIPETIZIONI</h4>
              <input matInput type="number"  formControlName="kg" class="form-control" placeholder="kg" autocomplete="off"
                required min="1" max="999"  />
              <input matInput type="number"   min="1" max="999" id="ripetizioni" formControlName="ripetizioni" class="form-control"
                placeholder="ripetizioni" autocomplete="off" required />
            </mat-list-item>
            <mat-list-item>
              <button mat-raised-button color="primary" type="submit" [disabled]="!exerciseForm.valid"
                matTooltip="completare i campi kg e ripetizioni">
                INSERISCI
              </button>
            </mat-list-item>
          </mat-list>
        </form>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
<!-- Storico kg/ripetizioni esercizio corrente -->
  <mat-grid-tile [colspan]="arrayColSpan[2]" rowspan='2' class="col-storico-esercizi">
    <cdk-virtual-scroll-viewport itemSize="10" class="example-viewport" style="background-color: #D6EAF8;">
      <h3 style="margin-top: 5%;">STORICO RIPETIZIONI </h3>
      <div *ngFor="let exercise of detailsSpecificExercise, index as i">
        <h4> {{exercise.kg}}Kg x {{exercise.ripetizioni}}
          ripetizioni</h4>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-grid-tile>
</mat-grid-list>