<div class="div-button-fine-allenamento"><button mat-button class="button-fine-allenamento"
    (click)="addWorkoutSession()">FINE ALLENAMENTO</button></div><br>
<mat-grid-list cols="3" rowHeight="fit" style="  height: 83%; ">

  <mat-grid-tile colspan='3' rowspan='1' style="background-color: #D6EAF8;"><app-timer [serieSvolte]="serieSvolte" [serieRichieste]="serieRichieste"></app-timer>
    <br></mat-grid-tile>

  <mat-grid-tile colspan='2' rowspan='2' style=" padding-bottom: 0%;">
    <mat-paginator class="paginator" #paginator [pageSize]="pageSize" hidePageSize="true"
      (page)="handlePageEvent($event)">
    </mat-paginator>
    <mat-card *ngFor="let card of obs | async, index as i" class="exercise-card">
      <mat-card-header>
        <mat-card-title>
          <h4>{{ card.exercise.nome.toUpperCase() }}</h4>
        </mat-card-title>
        <mat-card-subtitle>{{ prova.ripetizioniBase }}</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="#">-->
      <mat-card-content>
        <p>
          {{ prova.note }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="container">
          <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()" class="form-exercise-details">
            <br />
            <tr>
              <td>
                <input type="text" formControlName="kg" class="form-control" placeholder="kg" autocomplete="off" />
              </td>
              <td>
                <input type="text" id="ripetizioni" formControlName="ripetizioni" class="form-control"
                  placeholder="ripetizioni" autocomplete="off" />
              </td>
              <td>
              </td>
              <button mat-icon-button color="warn" type="submit" class="btn btn-primary">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
          </form>
          <br />
        </div>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan='1' rowspan='2' class="col-storico-esercizi">
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <p>STORICO ESERCIZIO</p>
      <div *ngFor="let exercise of detailsSpecificExercise, index as i"> {{exercise.kg}}Kg x {{exercise.ripetizioni}}
        ripetizioni</div>
    </cdk-virtual-scroll-viewport>
  </mat-grid-tile>
</mat-grid-list>