
.exercise-container{

  position: absolute;
  top: 10%; /* Header Height */
  bottom: 20px; /* Footer Height */
  width: 100%;
}
mat-expansion-panel-header{
  height: 20%;

}
.header{
  height: 20%;
}
.exercise-panel{
  margin: 2% 7% 2% 7%;
  min-height: 20%;

  background-color: #F7F8F9;

}
.responsive-grid{
 /* background-color: aqua;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
gap: 3%;
  align-items: center;
  justify-content: center;*/
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: grid ;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.exercise-card {
  /*
 padding: 5% 5% 5% 5%;
  width: 100%;
  height: 100%;
  text-wrap: wrap;*/

  width: 100%;
 min-height:150px;
  text-wrap: wrap;
}
.exercise-container{
  margin-top: 5%;
}

