.spinner-background {
  position: absolute;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  overflow: hidden;
  border-color: rgba(103, 58, 183, 0.12);
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
}

.wrap-card {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.spinner-container {
  margin-top: 1%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  height: 70%;
  min-height: 138px;

}